<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пустой сайт</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/legacy-main.css">
    <link rel="stylesheet" type="text/css" href="/css/legacy-vendors.css">
</head>
<body>
<div hidden>
    @@include('../../build/img/svg/sprite.svg')
</div>

<header class="header"></header>

<main class="main">